.ChaosTodo {
  margin: 5em;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-color: #7805fa;
  border: 3px solid rgb(41, 0, 0);
  border-radius: 5px;
  padding: 10px;
}
